.navbar{
    max-height:5%;
    overflow: hidden;
    background-color: #333;
    width:90%;
    float:right;
    position:-webkit-sticky;
    position:sticky;
    top:0;
}
.navbar a{
    float:right;
    font-size:100%;
    color:white;
    padding:10px 8px;
    text-decoration:dotted;
    overflow:hidden;
    max-height: 5%;
}
.dropdown{
    float:left;
    overflow: hidden;
}
.dropdown, .dropbtn{
    font-size:20px;
    border:none;
    outline:none;
    color:white;
    padding:14px 16px;
    background-color: inherit;
    margin:0;
}
.navbar a:hover, .dropdown:hover, .dropbtn:hover{
    background-color: red;
}


.title{
    font-size: 70px;
    color:aqua;
    flex-wrap: wrap;
    float:inline-end;

}
.fix{
    color:brown;
    text-align: center;
    font-size: x-large;
    text-decoration: double;
}
#engbtn{
    font-size: xx-large;
    border:0px;
    padding: none;
    color:gray;
    font-style: oblique;
}
.eng{
    text-align: center;
    font-size:large;
    color:red;
    outline:green;
    padding:10px;
    background-color: aliceblue;
}
.quote{
    font-size:large;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 100px;
}
.end{
    background-color:black;
    color:white;
    font-size:70%;
    text-transform:uppercase;
    text-align:center;
    width:40%;

}
@media  screen and(max-height:450px){
    .sidebar{padding-top: 15px;}
    .sidebar a{font-size: 18px;}
    .end{width:50%;}
}
.ita{
    text-align: center;
    background-color: aliceblue;
    color:red;
    font-size: large;
    text-transform: uppercase;
    padding:10px;
    outline: green;
}
.fra,.spa, .other{
    text-align:center;
    background-color:aliceblue;
    color:red;
    font-size:large;
    text-transform:uppercase;
    padding:10px;
    outline:green;
}
.fa{
    padding:10px;
    font-size:200px;
    width:50px;
    text-align:center;
    text-decoration:none;
    text-align:center;
    border-radius: 100%;
}
.fa-facebook{
    background-color:blue;
    color:white;
}
.fa-telegram{
    background-color:blue;
    color:white;
}
.fa-youtube{
    background-color:red;
    color:white;
}
.fa-twitter{
    background-color:blue;
    color:white;
}


#htbbtn{
     color:#818181;
     font-size:x-large;
     border:none;
     padding:none;
     background-color:inherit;
     text-align: right;

}
#hfbtn{
    color:#818181;
    font-size: x-large;
    border: none;
    padding:none;
    background-color: inherit;
    text-align: right;
}
    .htbbtn-content{
        line-height: 10px;
        color:#818181;
        display:none;

    }
    .hfbtn-content{
        line-height: 10px;
        color:#818181;
        display:none;
    }
     #hfbtn .hfbtn-content{
        display: inline-block;
     }
    
    .htbbtn .htbbtn-content{
        display:inline-block;
    }
    .htbbtn:hover, .hfbtn:hover{
        color:#f1f1f1;
    }
    .sidebar{
        height:100%;
        z-index:1;
        top:0;
        left:0;
        background-color:#111;
        overflow-x:scroll;
        transition:0.5s;
        padding-top:60px;
        position:fixed;
        overflow-y: visible;
    }
    .sidebar a{
        padding:8px 8px 16px 32px;
        text-decoration:none;
        font-size:25px;
        color:#818181;
        display:block;
        transition:0.3s;
        line-break: inherit;
    }
    .sidebar a:hover{
        color:#f1f1f1;
    }
    .sidebar .closebtn{
        position:absolute;
        top:0;
        right:25px;
        font-size:36px;
        margin-left:50px;
    }
    @media screen and (max-height:450px){
        .sidebar{padding-top:450px;}
        .sidebar a{font-size:18px}
    }
    #abtbtn, #predbtn{
        padding:none;
        border:none;
        background-color: inherit;
        color:grey;
        font-size: x-large;
    }
    #abtbtn:hover, #predbtn:hover, #hfbtn:hover, #htbbtn:hover{
        color:white;
        font-size: xx-large;
    }
    .menu{
        position:sticky;
        position:-webkit-sticky;
        top:5;
        color:white;
    }
    .container{
        width:100%;
        height:100%;
        background-color:skyblue;
    }
        @media  screen and (max-width:60%) {.menu,.navbar,.sidebar{
width:60%;
        }
            
        
    }@media screen and (max-width:460px){
        .quote{text-align: left;
        font-size: small;}
    }
    #writeUP{
        text-transform: uppercase;
        animation: infinite;
        animation-name: writeUP;
        animation-duration: 20s;
        color:skyblue;
        font-size: 30px;
        position:relative;
        animation-delay: 2s;
        line-break: none;
    }
    @keyframes writeUP{
        from{right:0px;}
        to{right:1500px;}
    }
    @media  screen  {
        #writeUP{font-size:larger;}
    }
    @media screen{
        .nlsbtn{width:20%;}
    }
    @media screen {
        .letter{font-size: xx-large;}
    }
    @media screen {
        @keyframes writeUP {
         from{right:0px;} 
         to{right:500px}  
        }
    }
    .nlsbtn{
      width:10%;
      height: 40px; 
      background-color: green; 
    }
    .letter{
        color:white;
        background-color: #333;
        font-size: 50px;
    }